

#grid-buster-demo {
	margin: auto;
}

.grid-buster * {
	box-sizing: border-box;
}


.grid-buster .block-container {
	border: 1px solid #999;
	display: inline-block;
	background: #eee;
}

.grid-buster .game-score:before {
	content: "Score: ";
}

.grid-buster .game-score:after {
	content: " pts";
}

.grid-buster .block {
	float:left;
	width:80px;
	height:80px;
	border:1px solid black;
	text-align: center;
	line-height: 80px;
	margin: 2px;

    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -kthtml-transition: all 1s linear;
    transition: all 1s linear;

}

.grid-buster .block.block-selection {
    box-shadow: inset 0 0 10px #fff;
    transition: all  200ms linear;
}

.grid-buster .block[data-type*=null] {
	background: none;
	border-color: transparent;
}

.grid-buster .block[data-type*=red] {
	background: red;
}

.grid-buster .block[data-type*=blue] {
	background: blue;
}

.grid-buster .block[data-type*=green] {
	background: green;
}

.grid-buster .block[data-type*=orange] {
	background: orange;
}

.grid-buster .block[data-type*=purple] {
	background: purple;
}

.grid-buster .block[data-type*=yellow] {
	background: yellow;
}