
html, body {
	margin: 0;
}

#grid-buster-demo {
	margin: 90px auto 0;
}

.grid-buster * {
	box-sizing: border-box;
}

.grid-buster .block-container {
	background: #eee;
	position: relative;
}

.grid-buster .game-score {
	position: relative;
	top: -77px;
	left: 88px;
	width: 60px;
	z-index: 21;
	text-align: center;
}
/*.grid-buster .game-score:before {*/
	/*content: "Score: ";*/
/*}*/

/*.grid-buster .game-score:after {*/
	/*content: " pts";*/
/*}*/

.grid-buster .block {
	border:1px solid #222;
	text-align: center;
	line-height: 80px;
	position: absolute;
	box-shadow: inset 0 0 4px #333;
	transition: all 300ms linear;
}

.grid-buster .block.block-selection {
	box-shadow: inset 0 0 20px #fff;
}

.grid-buster .block.removed {
	-webkit-transform:  rotateX( 720deg );
	transition: all 500ms cubic-bezier(.6,.2,1,1);
	bottom: 20px;
	left: 50%;
	margin-left: -15px;
	top: -55px;
	height: 30px;
	width: 30px;
	opacity: .0;
	z-index: 18;
	background: #333;
}

.grid-buster .ufo {
	width: 250px;
	height: 188px;
	position: fixed;
	top: -50px;
	z-index: 20;
	left: 50%;
	margin-left: -125px;
	transition: all 500ms ease-in;
}

.grid-buster .ufo-ship {
	position: relative;
	z-index: 20;
	background: url(flying-saucer3.png);
	background-size: contain;
	height: 100%;
	width: 100%;
}

.grid-buster .ufo-ray {
	height: 0px;
	top: -40px;
	position: relative;
	left: 50%;
	width: 20px;
	margin-left: -15px;
	background: green;
	z-index: 19;
	-webkit-transform: perspective(30px) rotateX(45deg);
	-webkit-transform-origin: 50% 0%;
	transition: all 250ms ease-out;
	background: linear-gradient(to bottom, rgba(13,201,0,1) 0%,rgba(3,154,0,0) 8%,rgba(0,138,0,0) 30%);
}

.grid-buster .ufo.abducting .ufo-ray {
	height: 1000px;
}

.grid-buster .ufo.hover {
	top: -70px;
}

.grid-buster .ufo.left{
	-webkit-transform: rotate(10deg);;
}

.grid-buster .ufo.right{
	-webkit-transform: rotate(-10deg);
}


@media only screen and (max-width: 420px) {

	#grid-buster-demo {
		margin: 60px auto 0;
	}

	.grid-buster .ufo {
		top: -25px;
		width: 125px;
		height: 94px;
		margin-left: -62px;
	}

	.grid-buster .ufo.hover {
		top: -35px;
	}

	.grid-buster .game-score {
		top: -38px;
		left: 31px;
		font-size: 8px;
	}
}


.grid-buster .block[data-type*=null] {
	background: none;
	border-color: transparent;
}

.grid-buster .block[data-special=true]:after {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	content: "";
	display: inline-block;
	opacity: .5;
	background: url(special.png) no-repeat center;
}

.grid-buster .block[data-type*=red] {
	background: radial-gradient(ellipse at center,  #ff0000 0%,#b50000 75%);
}

.grid-buster .block[data-type*=blue] {
	background: #034eaa; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #034eaa 0%, #022475 75%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#034eaa), color-stop(75%,#022475)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #034eaa 0%,#022475 75%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #034eaa 0%,#022475 75%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #034eaa 0%,#022475 75%); /* IE10+ */
background: radial-gradient(ellipse at center,  #034eaa 0%,#022475 75%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#034eaa', endColorstr='#022475',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.grid-buster .block[data-type*=green] {
	background: #08aa00; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #08aa00 0%, #077000 75%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#08aa00), color-stop(75%,#077000)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #08aa00 0%,#077000 75%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #08aa00 0%,#077000 75%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #08aa00 0%,#077000 75%); /* IE10+ */
background: radial-gradient(ellipse at center,  #08aa00 0%,#077000 75%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08aa00', endColorstr='#077000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.grid-buster .block[data-type*=orange] {
	background: #ff8c00; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #ff8c00 0%, #c95e00 74%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ff8c00), color-stop(74%,#c95e00)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #ff8c00 0%,#c95e00 74%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #ff8c00 0%,#c95e00 74%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #ff8c00 0%,#c95e00 74%); /* IE10+ */
background: radial-gradient(ellipse at center,  #ff8c00 0%,#c95e00 74%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8c00', endColorstr='#c95e00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

.grid-buster .block[data-type*=purple] {background: #8200ac; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #8200ac 0%, #55007c 75%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#8200ac), color-stop(75%,#55007c)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #8200ac 0%,#55007c 75%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #8200ac 0%,#55007c 75%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #8200ac 0%,#55007c 75%); /* IE10+ */
background: radial-gradient(ellipse at center,  #8200ac 0%,#55007c 75%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8200ac', endColorstr='#55007c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.grid-buster .block[data-type*=yellow] {
background: #fff200; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #fff200 0%, #e0d800 74%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fff200), color-stop(74%,#e0d800)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #fff200 0%,#e0d800 74%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #fff200 0%,#e0d800 74%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #fff200 0%,#e0d800 74%); /* IE10+ */
background: radial-gradient(ellipse at center,  #fff200 0%,#e0d800 74%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff200', endColorstr='#e0d800',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.grid-buster .block[data-type*=pink] {background: #d50067; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #d50067 0%, #b2005f 74%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#d50067), color-stop(74%,#b2005f)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #d50067 0%,#b2005f 74%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #d50067 0%,#b2005f 74%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #d50067 0%,#b2005f 74%); /* IE10+ */
background: radial-gradient(ellipse at center,  #d50067 0%,#b2005f 74%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d50067', endColorstr='#b2005f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
